<div class="containerAllMainNews">
        <div class="containerMainNews">
            <a href="/pages/pageNews.html" class="newGetIn" id="log">
                <div class="mainNews">
                    <div class="containerTextMainNews">
                        <h2 class="titleMainNews">
                            Tenemos muchas expectativas por el recital en Tandil
                        </h2>
                        <p class="textMainNews">
                            <br>Michael "Breiti" Breitkopf, guitarrista de Die Toten Hosen, dialogó en exclusiva con El
                            Diario de Tandil antes del histórico recital en nuestra ciudad.Habló de todo: porqué
                            eligieron Tandil, su relación con Argentina, nuevas músicas, el avance de la derecha en
                            Europa y como extraña a su amigo Pil.
                        </p>
                    </div>
                    <div class="containerImageMainNews">
                        <img src="/images/mainNewsImg1.jpeg" alt="Foto Die Toten Hosen">
                        <!-- <img src="/images/mainNewsImg2.jpeg" alt="Foto 2 Die Toten Hosen"> -->
                    </div>
                </div>
            </a>
        </div>
        <div class="containerPublicityMainNews">
            <div class="publicityMainNews">
                <img src="/images/publicity/elTronadorPublicityGif.gif" alt="El Tronador Publicidad">
            </div>
            <div class="publicityMainNews">
                <img src="/images/publicity/materialesTandilPublicityGif.gif" alt="Materiales Tandil Publicidad">
            </div>
        </div>
    </div>


    <div class="containerBarPublicity">
        <div class="barPublicity">
            <img src="/images/publicity/technoHousePublicityGif.gif" alt="Viviendas Technohouse Publicidad">
        </div>
    </div>

    <div class="containerAllSecundaryNews">
        <div class="containerSecundaryNews">
            <div class="secundaryNews">
                <a href="/pages/pageNews.html" class="newGetIn" id="log">
                    <div class="containerImageSecundaryNews">
                        <div class="imageSecundaryNews"><img src="/images/secundaryNews1.jpeg" alt="Otras noticias">
                        </div>
                    </div>
                    <div class="containerTextSecundaryNews">

                        <h2 class="titleSecundaryNews">
                            Instituciones de Tandil recibirán apoyo económico a través del programa Clubes en Obra
                        </h2>
                        <p class="textSecundaryNews">
                            Los beneficiados serán Independiente, Uncas, Velense, Social y Deportivo de Vela,
                            Excursionistas, Santamarina y San José, que percibirán un monto de 900.000 pesos.
                        </p>
                    </div>
                </a>
            </div>

            <div class="secundaryNews">
                <a href="/pages/pageNews.html" class="newGetIn" id="log">
                    <div class="containerImageSecundaryNews">
                        <div class="imageSecundaryNews"><img src="/images/secundaryNews2.jpeg" alt="Otras noticias">
                        </div>
                    </div>
                    <div class="containerTextSecundaryNews">

                        <h2 class="titleSecundaryNews">
                            Tandil presente en la cumbre de ciudades más importantes del mundo
                        </h2>
                        <p class="textSecundaryNews">
                            La experiencia de la Escuela Municipal de Talentos y el proyecto para replicarlo a nivel
                            global
                            a partir de la creación de un Laboratorio que apunte a fomentar el acceso al empleo y la
                            capacitación.
                        </p>
                    </div>
                </a>
            </div>

            <div class="secundaryNews">
                <a href="/pages/pageNews.html" class="newGetIn" id="log">
                    <div class="containerImageSecundaryNews">
                        <div class="imageSecundaryNews"><img src="/images/secundaryNews3.jpeg" alt="Otras noticias">
                        </div>
                    </div>
                    <div class="containerTextSecundaryNews">
                        <h2 class="titleSecundaryNews">
                            Tras la violencia en el Predio Centenario, Fernanda Rossi renunció a Santamarina
                        </h2>
                        <p class="textSecundaryNews">
                            La presidenta de la entidad elevó una nota a la directiva, donde expone que "la violencia es
                            mi
                            límite". Hoy la trata la Comisión.
                        </p>
                    </div>
                </a>
            </div>

        </div>

        <div class="containerPublicitySecundaryNews">
            <div class="publicitySecundaryNews"><img src="/images/publicity/danielMenchonPublicityGif.gif"
                    alt="Materiales Tandil Publicidad">
            </div>
            <div class="publicitySecundaryNews"><img src="/images/publicity/alfaApiculturaPublicityGif.gif"
                    alt="Alfa Apicultura Publicidad">
            </div>
            <div class="publicitySecundaryNews"><img src="/images/publicity/romeraPublicityGif.gif"
                    alt="Alfa Apicultura Publicidad">
            </div>
        </div>
    </div>

    <div class="containerBarPublicity">
        <div class="barPublicity">
            <img src="/images/publicity/distritanPublicityGif.gif" alt="Viviendas Technohouse Publicidad">
        </div>
    </div>



    <article>
        <div class="containerAllOtherNews">
            <div class="containerOtherNewsTitle">
                <div class="superiorBarOtherNews">
                    <h2>Otras Noticias</h2>
                </div>
                <div class="containerOtherNews">
                    <div class="otherNews">
                        <a href="/pages/pageNews.html" class="newGetIn" id="log">
                            <div class="titleOtherNews1">Comenzó el Festival Chacinar 2022</div>
                            <div class="textOtherNews1">
                                <p>Durante sábado y domingo, se realiza una nueva edición de Chacinar con fogones, food.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="containerOtherNews">
                    <div class="otherNews">
                        <a href="/pages/pageNews.html" class="newGetIn" id="log">
                            <div class="titleOtherNews1">Se habilita el 100 para Emergencias Médicas</div>
                            <div class="textOtherNews1">
                                <p>El Sistema Integrado de Salud Pública informa que debido al robo de cables la línea
                                    telefónica 107 está fuera de servicio.</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="containerOtherNews">
                    <div class="otherNews">
                        <a href="/pages/pageNews.html" class="newGetIn" id="log">
                            <div class="titleOtherNews1">Pantalla gigante y promociones</div>
                            <div class="textOtherNews1">
                                <p>Quienes se acerquen a los espacios adheridos podrán acceder a promociones especiales,
                                    sorteos y regalos. Estará la pantalla en el Centró Náutico del Fuerte.</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </article>