* {
    box-sizing: border-box;
}


body {
    scrollbar-width: none;
    background-color: #f39c12;
    font-family: 'Lato', sans-serif;
    margin: auto;
}




.containerPublicityUp {
    display: block;
    width: 100%;
}

.publicityUp {
    position: absolute;
    display: flex;
    width: 90%;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.publicityUp img {
    width: 100%;
}





.headContainer {
    display: flex;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}


.containerHeadPublicity {
    display: flex;
    position: relative;
    width: 20%;
    margin-right: 5px;
}

.headPublicity img {
    display: flex;
    width: 100%;
}


.containerHeadLogo {
    display: flex;
    flex-direction: row;
    width: 45%;
    /* background-color: #e67e2240; */
    margin-right: auto;
    margin-left: auto;
}

.headLogo {
    width: 100%;
}

.headLogo img {
    width: 100%;
    display: flex;
}

.containerRadioPubli {
    display: flex;
    width: 20%;
    background-color: #e67e2280;
    margin-left: auto;
}

.radioMenu audio {
    display: flex;
    margin-top: auto;
    width: 18vw;
}







header {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 4vw;
    margin: 10px 0;
    border-bottom: 0.2vw solid #e67e2250;
    background-color: #c0392b;
}

.containerMenu {
    display: flex;
    width: 90%;
    margin: 0px auto 0px auto;
    font-size: 1.9vw;
    font-weight: normal;
    text-transform: uppercase;
    font-family: 'Calibri', 'Trebuchet MS';
}

.inicioMenu {
    position: relative;
}

.menuBTN {
    display: flex;
    background-color: #d35400;
    width: 4vw;
    height: 4vw;
    color: beige;
    border: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    box-shadow: 1px -1px 0px rgba(0,0,0,0.1);
}

.menuBTN img {
    width: 3vw;
    height: 3vw;
}

.menuContent {
    width: 35vw;
    display: none;
    position: absolute;
    margin-right: auto;
    background-color: #d35400;
    max-width: 400px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
}

.menuContent a {
    color: #ecf0f1;
    padding: 1vw 1vw;
    text-decoration: none;
    display: block;
}



.menuContent a:hover {
    background-color: #c0392b;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
}

.inicioMenu:hover .menuBTN:hover {
    background-color: #c0392b;
    transform: scale(1.03);
    box-shadow: -1px 2px 10px rgba(0,0,0,0.3);
    transition: all 250ms;
}

.inicioMenu:hover .menuContent{
    display: block;
}







.containerButtonsRegLog {
    position: relative;
    margin-left: auto;
    margin-bottom: auto;
    
}

.containerButtonsRegLog a {
    display: inline-block;
    width: 7vw;
    height: 4vw;
    padding: 1vw;
    margin-left: 1vw;
    cursor: pointer;
    font-size:x-large;
    color: #ecf0f1;
    font-size: 1.5vw;
    text-decoration: none;
    text-transform:capitalize;
    text-align: center;
    font-family: 'Calibri', 'Trebuchet MS';
    background-color: #d35400;
    box-shadow: 1px -1px 0px rgba(0,0,0,0.1);
}

.containerButtonsRegLog a:hover {
    background-color: #c0392b;
    transform: scale(1.02);
    box-shadow: -1px 2px 10px rgba(0,0,0,0.3);
    transition: all 250ms;
}




.containerRadio {
    display: flex;
    width: 90%;
    position: relative;
}

.radioMenu {
    position: relative;
    display: flex;
    align-items: center;
    width: min-content;
    margin-left: auto;
}

.radioItem {
    width: 20vw;
    height: auto;
}







.containerAllMainNews {
    width: 90%;
    display: flex;
    flex-wrap: nowrap;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}

.containerMainNews{
    display: flex;
    flex-wrap: wrap;
    margin-right: 5px;
    width: 80%;
    border: 1px solid #e67e22;
    background: #ecf0f1;
    align-items: center;
}



.mainNews {
    display: flex;
    flex-direction: column;
}

.titleMainNews {
    width: 100%;
    margin-bottom: 4%;
    text-align: center;
    font-weight: 400;
    font-size: 3vw;
    color: #34495e;
}

.containerImageMainNews {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.containerImageMainNews img {
    width: 100%;
    object-fit:contain;
    height: 100%;
}

.containerWrittenMainNews {
    display: flex;
    width: 80%;
    margin: 2vw auto 2vw auto;
    flex-direction: row;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.writtenImage {
    width: 12%;
    height: 12%;
}



.writtenMainNews {
    width: 100%;
    font-weight: 500;
    font-size: 1.8vw;
    text-align: start;
    color: #2c3e50;
}

.writtenMainNews p {
    flex-direction: column;
    margin: 0 3vw;
    text-transform: uppercase;
}

.writtenMainNews h1 {
    margin: 0 3vw;
    text-transform: uppercase;
}

.by {
    font-weight: 500;
    font-size: 1.6vw;
}

.writtenMainNews h1{
    font-weight: 550;
    font-size: 1.5vw;
}




.containerDescentMainNews {
    display: flex;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding: 0 0 0 5%;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.descentMainNews {  
    width: 95%;
    padding: 0 0.5vw;
    margin-top: 0.1%;
    font-weight: 300;
    font-size: 1.5vw;
    text-align: end;
    color: #2c3e50;
}

.containerTextMainNews {
    display: flex;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    padding: 2% 2% ;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.textMainNews {  
    width: 100%;
    padding: 0 0.5vw;
    margin-top: 4%;
    font-weight: 300;
    font-size: 1.5vw;
    text-align: center;
    color: #2c3e50;
}







.containerPublicityMainNews {
    display: flex;
    width: 20%;
    position: relative;
    flex-direction: column;
    align-items: flex-end;
}

.publicityMainNews {
    display: flex;
    width: 100%;
    
}

.publicityMainNews img {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    margin-left: auto;
}








.containerBarPublicity {
    display: block;
    width: 100%;
}

.barPublicity {
    display: flex;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
}

.barPublicity img{
    width: 100%;
}





.containerAllSecundaryNews {
    display: flex;
    width: 90%;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.containerSecundaryNews {
    display: flex;
    width: 80%;
    margin-right: 5px;
    max-height: 770px;
}

.secundaryNews {
    margin: 0px 2px 0px 2px;
    background: #ecf0f1;
    padding: 7px 7px 0 7px;
    width:35%;
    border: 1px solid #e67e22;
}

.containerImageSecundaryNews {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.containerImageSecundaryNews img {
    max-width: 300px;
    width: 100%;
    height: 100%;
}


.titleSecundaryNews {
    text-align: center;
    padding: 0 0.1vw;
    font-weight: 400;
    font-size: 2.5vw;
    color: #2c3e50;
}


.textSecundaryNews {  
    text-align: center;
    padding: 0 0.5vw;
    font-weight: 300;
    font-size: 1.5vw;
    color: #34495e;
}

.containerTextSecundaryNews:hover {  
    transform: scale(1.005);
}




.containerPublicitySecundaryNews {
    display: flex;
    width: 20%;
    position: relative;
    flex-direction: column;
}

.publicitySecundaryNews {
    display: flex;
    width: 100%;
    
}

.publicitySecundaryNews img {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    margin-left: auto;
}






.containerAllOtherNews {
    background: #ecf0f1;
    display: flex;
    width: 90%;
    height: 50%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid #e67e22;
}

.containerOtherNewsTitle {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.superiorBarOtherNews {
    width: 100%;
    padding: 0 1.5%;
    float: left;
    font-size: 2.6vw;
    color: #2c3e50;
    border-bottom: 1.5px solid #e67e22;
    margin-bottom: 15px;
}

.containerOtherNews {
    display: flex;
    padding: 0 2%;
    width:33.3%;
    height: auto;
}

.titleOtherNews1 {
    padding: 0 1%;
    text-align: center;
    font-weight: 400;
    font-size: 2.5vw;
    color: #2c3e50;
}

.textOtherNews1 {
    padding: 0 2%;
    text-align: center;
    width: 100%;
    font-weight: 300;
    font-size: 1.5vw;
    color: #34495e;
}

.otherNews:hover {  
    transform: scale(1.01);
}








.containerFooter {
    background-color: #bdc3c7;
    font-family:  Arial, 'Gill Sans', 'Gill Sans MT';
    border-top: 2px solid #2980b9;
  }

  .containerFooterFirst {
    width: 90%;
    display: flex;
    margin-right: auto;
    margin-left: auto;
  }

  .containerTop {
    padding: 5px 0px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

  .boxFooter {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
  }

  .boxFooter img {
    display: flex;
    width: 100%;
  }

  .boxFooter h3 {
    font-size: 2.1vw;
    margin-top: 5%;
    margin-bottom: 2%;
    color: #2c3e50;
  }

  .boxFooter p {
    font-size: 2vw;
    text-align: center;
    color: #2c3e50;
    margin-top: 6%;
    margin-bottom: 5%;
  }

  .containerRedes {
    display: block;
  }

  .containerRedes a {
    display: inline-block;
    text-decoration: none;
    color: #ecf0f1;
    background-color: #2c3e50;
    text-align: center;
    transition: all 250ms ease;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.1);
  }

  .containerRedes a:hover {
    transform: scale(1.1);
    box-shadow: 2px 3px 4px rgba(0,0,0,0.2);
  }

  .fa {
    width: 3.8vw;
    height: 3.8vw;
    line-height: 3.8vw;
    font-size: 2.5vw;
  }

  .facebook:hover{
    background: blue;
  }

 .instagram:hover{
    background: linear-gradient(to bottom, rgb(183, 4, 219), rgb(255, 0, 200), rgb(255, 230, 1));
  }
  .youtube:hover{
    background: red;
  }
  .twitter:hover{
    background: rgb(0, 191, 255);
  }



  .containerFooter .containerBottom {
    background-color: #2c3e50;
    padding: 1.5% 10px;
    text-align: center;
    color: #2980b9;
  }
  .containerFooter .containerBottom small {
    font-size: 2vw;
  }




/********************************************************************************
                    INICIO TEST LOGIN Y REGISTER
********************************************************************************/

.ocultar{
    display: none;
}


/********************************************************************************
                     FIN TEST LOGIN Y REGISTER
********************************************************************************/