<div class="containerAllMainNews">
        <div class="containerMainNews">
            <div class="mainNews">
                <div class="containerTitleMainNews">
                    <h2 class="titleMainNews">
                        Tenemos muchas expectativas por el recital en Tandil
                    </h2>
                </div>

                <div class="containerImageMainNews">
                    <img src="/images/mainNewsImg1.jpeg" alt="Foto Die Toten Hosen">
                    <!-- <img src="/images/mainNewsImg2.jpeg" alt="Foto 2 Die Toten Hosen"> -->
                </div>

                <div class="containerWrittenMainNews">
                    <img src="/images/icons/written.png" class="writtenImage" alt="Juan Pedro Larramburu">
                    <div class="writtenMainNews">
                        <p class="by">Por</p>
                        <p>
                            <h1 class="written">Juan Pedro<br>Larramburu</h1>
                        </p>
                    </div>
                </div>

                <div class="containerDescentMainNews">
                    <p class="descentMainNews">
                        Michael "Breiti" Breitkopf, guitarrista de Die Toten Hosen, dialogó en exclusiva con El
                        Diario
                        de Tandil antes del histórico recital en nuestra ciudad. Habló de todo: porqué eligieron Tandil,
                        su
                        relación con Argentina, nuevas músicas, el avance de la derecha en Europa y como extraña a su
                        amigo
                        Pil.
                    </p>
                </div>
                <div class="containerBarPublicity">
                    <div class="barPublicity">
                        <img src="/images/publicity/technoHousePublicityGif.gif" alt="Viviendas Technohouse Publicidad">
                    </div>
                </div>
                <div class="containerTextMainNews">
                    <p class="textMainNews">Hace poco tiempo, la comunidad roquera de nuestra ciudad se vio conmocionada
                        con una noticia realmente buena e inesperada: Die Toten Hosen, la mítica banda punk alemana,
                        programaba una fecha en Tandil.

                        Ahora, ya estamos a muy pocos días de que este recital se haga realidad: el viernes 28 de
                        octubre estarán haciendo vibrar el gimnasio del Club Unión y Progreso.

                        Adelantándonos a la fecha y en exclusiva, El Diario de Tandil dialogó con Michael "Breiti"
                        Breitkopf, guitarrista del grupo.

                        Desde la Ciudad de Buenos Aires, donde harán dos fechas (21/10 en Obras y 22/10 en La
                        Trastienda) y hablando un perfecto español, el músico comenzó hablando de la gran relación que
                        tiene la banda con nuestro país desde hace 30 años. "Desde el primer minuto fue especial. Al
                        llegar, tuvimos muy buenos amigos, sobre todo a Pil (NdR: Pil Trafa, líder de Los Violadores),
                        él fue el responsable de que vengamos para acá, la gente ya conocía nuestra música. Fue especial
                        la energía del público, que nos aceptó como una banda local desde el primer minuto. Fue el amor
                        de los argentinos por el punk, nuestra relación con los Ramones, que eran super estrellas.
                        Fueron un montón de factores. La amistad que tenemos con el público argentino, es como una
                        relación personal".

                        El fuerte vínculo fue creciendo con cada visita, incluso superando la barrera del idioma. Al
                        respecto, Breiti recuerda que "antes de los tiempos de internet, la gente se interesó y sabía
                        que cantábamos. Para mí, y lo digo en serio, los argentinos son el pueblo mejor informado en
                        todo el mundo. Mucha gente sabe todo sobre deporte, política, cultura, música, que pasa en todo
                        el mundo; es increíble. Al inicio tratamos de cantar algunas canciones nuestras en inglés, pero
                        a la gente no le gustó. Estaban acostumbrados al sonido en alemán, sin entender todo, trataban
                        de cantar las letras. Y algunos empezaron a aprender el idioma por esto".

                        Más allá de ser habitual su presencia en nuestro país, que lleguen hasta Tandil, es toda una
                        novedad, no es para nada usual que una banda internacional elija a nuestra ciudad como parada en
                        sus giras. Afirmó que "nos gusta mucho explorar el país, estuvimos en muchas partes de
                        Argentina: Bariloche, Mendoza, Salta, Tucumán, Córdoba, Rosario, Mar del Plata. Siempre son
                        buenas experiencias. No queremos ir solo a grandes ciudades, sino también a lugares como Tandil.
                        Esta fue la propuesta de un amigo de acá, que conoce Tandil y nos gustó la idea. Ya tenemos una
                        invitación un asado, van muchos amigos de Buenos Aires también. Es algo fuera de la rutina y eso
                        siempre nos gusta. Nosotros tenemos muchas expectativas, pero lo más importante es que nos
                        divirtamos todos juntos y no tengo dudas que pasará de esa manera".

                        Repasando otras temáticas también habló de su trato con las músicas nuevas. Al contrario de
                        muchos roqueros de la vieja escuela, Breiti y todos los Die Toten Hosen muestran una relación
                        interesante con nuevos sonidos, para muestra estará próximamente el caso del cantante Campino,
                        que, junto a 2 Minutos en su nueva versión de "Ya no sos igual", anunciaron la presencia de un
                        músico de hip hop como invitado. Michael contó que "escuchamos muchos tipos de músicas. Cuando
                        teníamos 16 o 17 años, fue muy importante identificarnos con este tipo de música, el punk y el
                        reggae; pero después nos abrimos mucho y ahora escuchamos de todo: hip hop, música tradicional,
                        música clásica, hasta flamenco. Hay tanta música buena, para mi es todo muy interesante.
                        Nosotros ya en el 83 grabamos con Fab Five Freddy, un cantante de hip hop muy importante.
                        También tocamos con músicos de música clásica en recitales acústicos. Todas esas experiencias
                        son una aventura, son muy interesantes, nos gusta hacerlo. También hemos probado tocar reggae,
                        no lo conseguimos, pero fue interesante aprender lo mucho más difícil de lo que pensamos que es
                        tocar reggae de una buena manera".

                        Aprovechando la oportunidad de la charla, hablamos también de política. Los Hosen siempre fueron
                        un grupo con posiciones claras, sobre todo en lo que respecta al antifascismo, por eso lo
                        consultamos acerca de cómo se sienten ante los nuevos avances de la derecha, sobre todo en
                        Europa. "La generación de nuestros padres vivió en tiempos de dictadura y guerra, crecimos con
                        los cuentos de todo eso. Para mí y mis compañeros de la banda siempre estuvo muy presente todo
                        esto. En los años 70, cuando crecimos, todavía había muchos ex nazis en posiciones importantes
                        en Alemania, para nosotros fue insoportable. Para nosotros siempre estuvo muy presente la
                        amenaza para los Derechos Humanos y la democracia, siempre pensamos que no son nada natural y
                        gratuito; hay que hacer algo a favor de esto cada día, cada uno desde su lugar y según sus
                        posibilidades. En ese sentido, nada ha cambiado, vamos a seguir en esto. Pil fue una inspiración
                        muy grande en ese sentido, él y sus compañeros de Los Violadores tuvieron el coraje de empezar
                        una banda así en la dictadura".

                        "No nos queda más que disfrutar de cada buen momento y ser conscientes que se tiene que hacer
                        algo en favor de la libertad y la democracia cada día. Nosotros con la banda lo que podemos
                        hacer es escribir y tocar canciones o apoyar a algunas organizaciones políticas, siempre hay
                        posibilidades de hacer algo", agregó.

                        Por último, habló de Pil, su gran amigo que sobrevoló toda la charla y que hace poco tiempo nos
                        dejó, siendo esta su primera visita sin su presencia física. Confesó que "antes de venir fue muy
                        extraño el sentimiento de saber que Pil no está. Siempre estuvo y fue uno de los responsables
                        principales de que lleguemos desde la primera vez. Hablé con muchos amigos acá y el espacio
                        vacío que dejó, está llenándose, todos hablan de sus letras geniales, su coraje, todavía es la
                        inspiración de mucha gente. Es distinto, pero de cierta manera está, eso es un alivio. Le echo
                        de menos mucho y va a ser extraño tocar canciones de Los Violadores o Pilsen y que él no esté".

                         

                        Die Toten Hosen toca este viernes 28 de octubre en Unión y Progreso (Av. Quintana 450). Las
                        entradas anticipadas se consiguen en Manhattan Instrumentos Musicales (Chacabuco 873) o a través
                        de TodoPass. 
                    </p>
                </div>
            </div>
        </div>
</div>