<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/test.css">
    <link rel="stylesheet" href="/css/pageNews.css">
    <title>La Gaceta de Tandil</title>
    <link rel="icon" href="/images/icons/logo.ico">
</head>
<body>
    <div class="containerPublicityUp">
        <div class="publicityUp">
            <img src="/images/publicity/monarcaPublicityGif.gif" alt="Monarca Publicidad">
        </div>
    </div>

    <div class="headContainer">
        <div class="containerHeadPublicity">
            <div class="headPublicity">
                <img src="/images/publicity/romeraPublicityGif.gif" alt="Romera Hermanos Publicidad">
                <div class="titlePublicityApp"></div>
            </div>
        </div>
        <div class="containerHeadLogo">
            <div class="headLogo">
                <a href="/" class="close-session" id="log">
                    <img src="/images/laGacetaLogoMain.svg" alt="Logo La Gaceta de Tandil">
                </a>
            </div>
        </div>
        </a>
        <div class="containerRadioPubli">
            <div class="radioMenu">
                <audio controls="controls" class="radioItem">
                    <source src="https://streamconex.com:2000/stream/chepapa" type="audio/mp3" />
                </audio>
                <!-- <div class="titleRadioAm89.1">
                    <img src="/images/publicity/radioPublicity.jpg" alt="Radio Am 89.1">
                </div> -->
            </div>

        </div>
    </div>
    
        {{> navigation}}

        
        {{> messages }}

        {{> errors}}

        {{{ body }}}

    <footer class="containerFooter">
        <div class="containerFooterFirst">
            <div class="containerTop">
                <div class="boxFooter">
                    <img src="/images/laGacetaLogoFoot.svg">
                </div>
                <div class="boxFooter">
                    <h3>Domicilio legal:</h3>
                    <p>Dirección-Tandil-7000<br>
                        (0249) 00-000000.</p>
                </div>
                <div class="boxFooter">
                    <h3>Contáctenos</h3>
                    <div class="containerRedes">

                        <a href="https://www.facebook.com/profile.php?id=100086652865519"
                            class="fa fa-facebook-official facebook" target="_blank"></a>

                        <a href="https://twitter.com/home" class="fa fa-twitter twitter" target="_blank"> </a>

                        <a href="https://www.instagram.com/lagacetadetandil/" class="fa fa-instagram instagram"
                            target="_blank">
                        </a>

                        <a href="https://www.youtube.com/" class="fa fa-youtube youtube" target="_blank"> </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="containerBottom">
            <small>&copy;2022 <b>La Gaceta de Tandil</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"></script>
</body>
</html>