<div class="container-form-login">
    <div class="container-logo-form-login">
        <h1 class="tittle-welcome">La Gaceta Tandil</h1>
        <img class="logo-login" src="../images/laGacetaLogoMain.svg" alt="Logo La Gaceta de Tandil">
    </div>
    <div id="form-login">
        <form class="form-login" action="/users/signin" method="POST">
            <h3 class="title-login">SignIn</h3>
            <label class="container-input-log">
                <ion-icon class="icon-form" name="person"></ion-icon>
                <input placeholder="Username" type="text" name="user" class="input-form" id="username" required autofocus>
            </label>
            <label class="container-input-log">
                <ion-icon class="icon-form" name="lock-closed"></ion-icon>
                <input placeholder="Password" type="password" name="password" class="input-form" id="password" required>
            </label>
            <a href="/users/signup" class="link">Register</a>
            <a href="#" class="link">Forgot your password?</a>
            <button type="submit" class="btn-on" id="button">Sign-in</button>
        </form>
    </div>
    <h2 class="ocultar" id="logInOn"></h2>
</div>